* {
    margin: 0;
    padding: 0;
  }
  
  .div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .div-2 {
    background-color: #fff;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    /* border: 1px soli blue; */
    justify-content: center;
    padding: 16px 60px;
  }
  
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .div-3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 23px 0 14px;
    /* border: 1px solid black; */
  }
  
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      margin-right: 10px;
      flex-wrap: wrap;
    }
  }
  
  .img {
    aspect-ratio: 3.91;
    object-fit: contain;
    object-position: center;
    width: 356px;
    overflow: hidden;
  }
  
  .div-4 {
    align-items: end;
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    /* border: 1px solid red; */
  }
  
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  
  .div-5 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  
  .div-6 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  .img-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    overflow: hidden;
    max-width: 100%;
  }
  
  .div-7 {
    color: #000;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 16px Poppins, sans-serif;
  }
  
  /* @media (max-width: 991px) {
      .div-7 {
        white-space: initial;
      }
    } */
  .div-8 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  .img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    overflow: hidden;
    max-width: 100%;
  }
  
  .div-9 {
    color: #000;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 16px Poppins, sans-serif;
  }
  
  ul li {
  
    margin-top: 31px;
  
    display: inline-block;
    list-style: none;
  }
  
  .menu-right {
    text-align: right;
  }
  
  .nav a {
    text-decoration: none;
    font-size: medium;
  }
  
  .menu-right span {
    font-size: 28px;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 1024px) {
    .img {
      height: 20%;
    }
  
    .menu-right span {
      margin-left: 100px;
  
    }
  }
  
  @media (max-width: 1024px) {
    .menu-right span {
      display: block;
     
    }
  
    ul li {
      display: block;
      padding: 0;
      transition: visibility 0s, opacity 0.3s linear;
     
    }
  
    ul {
      display: none;
    }
  }
  
  @media (max-width: 991px) {
    .nav {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      z-index: 5;
    }
  }
  
  
  
  .navbar {
    color: #000;
    align-self: stretch;
    font: 500 18px Poppins, sans-serif;
  }
  
  .home {
    color: #0054a6;
    align-self: stretch;
    white-space: nowrap;
    font: 500 18px Poppins, sans-serif;
    margin-top: 7px;
  }
  

.div-11 {
    color: #0054a6;
    align-self: stretch;
    white-space: nowrap;
    font: 500 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-11 {
        white-space: initial;
    }
}

.div-12 {
    color: #000;
    align-self: stretch;
    font: 500 18px Poppins, sans-serif;
}

.div-13 {
    color: #000;
    margin: auto 0;
    font: 500 18px Poppins, sans-serif;
}

.img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.div-14 {
    color: #000;
    align-self: stretch;
    font: 500 18px Poppins, sans-serif;
}

.div-15 {
    color: #000;
    font: 500 18px Poppins, sans-serif;
}

.div-16 {
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    font: 500 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-16 {
        white-space: initial;
    }
}

/* body {
      margin: 0;
      font-family: Arial, sans-serif;
    } */
.gradient {
    /* background: linear-gradient(135deg, #f6d365 0%, #fda085 100%); */
    text-align: center;
    padding: 50px 0;
    background-color: #8a8989;
    /* background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); */

}
@media (max-width: 412px) {
    .gradient {
     max-width: 100%;
     margin-left: 3px;
    
    }
}

.content {
    max-width: 800px;
    height: 160px;
    margin: 0 auto;

}



h1 {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}


/* .slide {
    margin-left: 100px;
    /* animation: slide 2s forwards linear; Animation to slide in  */
    /* text-align: center;
} */ 
/* @media (max-width: 412px) {
    h1.slide {
  /* text-align: center; */
/* margin-left: 0px;
    
    }  
} */ 

/* @keyframes slide {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0;
    }
} */

/* #tagline{
      color: #181919;
      font-size: 20px;
      
    } */
.testimonials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial {
    display: flex;
    width: 90%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.info {
    float: left;
}

.rating {
    color: #f1c40f;
}


.div-60 {
    background-color: #f6f6f6;
    align-self: stretch;
    display: flex;
    margin-top: 126px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 26px 60px 50px;
}

@media (max-width: 991px) {
    .div-60 {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}

.div-61 {
    margin-bottom: 18px;
    width: 100%;
    max-width: 1230px;
}

@media (max-width: 991px) {
    .div-61 {
        max-width: 100%;
    }
}

.div-62 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-62 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 76%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-8 {
        width: 100%;
    }
}

.div-63 {
    padding: 0 1px;
}

@media (max-width: 991px) {
    .div-63 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-64 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-64 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 53%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-9 {
        width: 100%;
    }
}

.div-65 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 991px) {
    .div-65 {
        margin-top: 40px;
    }
}

.img-23 {
    aspect-ratio: 1.8;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
    z-index: 1;
}

.div-66 {
    color: #000;
    align-self: stretch;
    margin-top: -50px;
    margin-left: 20px;
    font: 500 15px/21px Montserrat, sans-serif;
}

.img-24 {
    aspect-ratio: 6.96;
    object-fit: contain;
    object-position: center;
    width: 167px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    max-width: 100%;
}

.column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-10 {
        width: 100%;
    }
}

.div-67 {
    display: flex;
    margin-top: 56px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-67 {
        margin-top: 40px;
    }
}

.div-68 {
    color: #000;
    align-self: center;
    white-space: nowrap;
    font: 600 24px/36px Montserrat, sans-serif;
}

@media (max-width: 991px) {
    .div-68 {
        white-space: initial;
    }
}

.div-69 {
    color: #000;
    align-self: center;
    margin-top: 16px;
    white-space: nowrap;
    font: 500 18px Poppins, sans-serif;
    padding-left: 47px;
}

@media (max-width: 991px) {
    .div-69 {
        white-space: initial;
    }
}

.div-70 {
    color: #000;
    align-self: stretch;
    margin-top: 9px;
    margin-left: 45px;
    white-space: nowrap;
    font: 500 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-70 {
        white-space: initial;
    }
}

.div-71 {
    color: #000;
    align-self: stretch;
    margin-top: 9px;
    margin-left: 45px;
    white-space: nowrap;
    font: 500 16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-71 {
        white-space: initial;
    }
}

.div-72 {
    color: #000;
    align-self: stretch;
    margin-top: 9px;
    margin-left: 45px;
    white-space: nowrap;
    font: 500 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-72 {
        white-space: initial;
    }
}

.div-73 {
    color: #000;
    align-self: stretch;
    margin-top: 9px;
    margin-left: 48px;
    white-space: nowrap;
    font: 500 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-73 {
        white-space: initial;
    }
}

.column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 26%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-11 {
        width: 100%;
    }
}

.div-74 {
    display: flex;
    margin-top: 57px;
    flex-grow: 1;
    flex-direction: column;
    align-items: end;
}

@media (max-width: 991px) {
    .div-74 {
        margin-top: 40px;
    }
}

.div-75 {
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    font: 600 24px/36px Montserrat, sans-serif;
}

@media (max-width: 991px) {
    .div-75 {
        white-space: initial;
    }
}

.div-76 {
    color: #000;
    white-space: nowrap;
    margin: 54px 90px 0 0;
    font: 600 20px/30px Montserrat, sans-serif;
}

@media (max-width: 991px) {
    .div-76 {
        white-space: initial;
        margin: 40px 10px 0 0;
    }
}

.div76-A {
    padding-right: 40px;
}

.div-77 {
    color: #000;
    align-self: stretch;
    margin-top: 16px;
    white-space: nowrap;
    font: 500 20px/30px Montserrat, sans-serif;
    padding-right: 45px;
}

@media (max-width: 991px) {
    .div-77 {
        white-space: initial;
    }
}

.div-78 {
    color: #000;
    margin: 39px 78px 0 0;
    white-space: nowrap;
    font: 600 20px/30px Montserrat, sans-serif;
}

@media (max-width: 991px) {
    .div-78 {
        white-space: initial;
    }
}

.div-79 {
    color: #000;
    align-self: stretch;
    margin-top: 14px;
    white-space: nowrap;
    font: 500 15px/23px Montserrat, sans-serif;
    padding-right: 35px;
}

@media (max-width: 991px) {
    .div-79 {
        white-space: initial;
    }
}

.column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 24%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-12 {
        width: 100%;
    }
}

.div-80 {
    display: flex;
    margin-top: 64px;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 991px) {
    .div-80 {
        margin-top: 40px;
    }
}

.div-81 {
    color: #000;
    white-space: nowrap;
    font: 600 24px/33px Montserrat, sans-serif;
}

@media (max-width: 991px) {
    .div-81 {
        white-space: initial;
    }
}

.img-25 {
    aspect-ratio: 1.54;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
    margin-top: 37px;
}



section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0px 50px;
    height: 80vh;
    /* /min-height: 100vh;/
      margin-top: 150px; */
    background: rgba(0, 0, 0, 1.7);
    box-sizing: border-box;
    font-family: "Euclid Circular A", "Poppins";
}

.content {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0 100px;
    color: #f9f9f9;
}